[Desktop Entry]
Name=HTTP URL handler
Comment=Open an HTTP/HTTPS URL with a selectable browser
TryExec=http_url_handler.py
Exec=http_url_handler.py %u
X-MultipleArgs=false
Type=Application
Terminal=false
MimeType=x-scheme-handler/http
